@model IEnumerable<Integratie.Domain.Entities.Subjects.Story>

@{
    ViewBag.Title = "Stories";
}

<h2>@ViewBag.Name Stories</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoryString)
        </th>
        <th>Opties</th>
    </tr>
    @foreach (var story in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => story.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => story.StoryString)
            </td>
            <td>
                @Html.ActionLink("Remove Story", "DeleteStory", "Theme", new { storyId = story.Id, themaId=ViewBag.themaId }, null)
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Back to ThemeConfig", "ThemeConfig", "Theme")
