@using Integratie.Domain.Entities.Subjects;
@model IEnumerable<Theme>

@{
    ViewBag.Title = "Index";
}

<div class="TeslaThemesContainer">
    <h1 class="TeslaTitle">Thema's</h1>
    <!--ul>
        @foreach (Theme t in Model)
        {
            <li data-id="'+@t.ID+'" class="d-inline-block TeslaThemeBlock flex-column">
                <a href="@Url.Action("Theme", "Theme",new { id = t.ID })">
                    <h3 class="TeslaThemeText">@t.Name</h3>
                    <div class="TeslaThemeImage">
                        <img align="right" src="@t.GetImageSrc()" />
                    </div>
                </a>
            </li>
        }
    </!--ul-->
    <div class="">
        <div class="row">
    @foreach (Theme t in Model)
            {
        <div class="col-sm-4 col-md-3 col-lg-2">
            <a href="@Url.Action("Theme", "Theme",new { id = t.ID })">

                <div href="" class="teslaThemeCarcContainer" style="background-image:url('@t.GetImageSrc()')">
                    <div class="TeslaThemeCardText"> @t.Name </div>
                    @{
                        if (t.TrendIndex > 0)
                        {
                            <text><div class="TeslaThemeSucces">@(t.TrendIndex)%</div></text>
                        }
                        else
                        {

                            <text><div class="TeslaThemeFail">@(t.TrendIndex)%</div></text>
                        }
                    }
                </div>
            </a>
        </div>
                        }
        </div>
    </div>
</div>