@model Integratie.Domain.Entities.Subjects.Theme
@{
    ViewBag.Title = "Theme";
}
<div class="TeslaThemeTest">
    <div class="jumbotron" style="background-image: url(@Model.GetImageSrc())">
        <h1>@Model.Name</h1>
    </div>

    <div>
        <h1>Top 5 politici die betrokken zijn in dit thema</h1>
        @foreach (var topPerson in Model.TopPersonsList)
        {
            <a href="@Url.Action("Persoon","Subject",new {Full_Name=topPerson})">
                <h2>@topPerson</h2>
            </a>
        }
    </div>
    <div>
        <h1>Top 5 Partijen die betrokken zijn in dit thema</h1>
        @foreach (var topOrg in Model.TopOrganisationsList)
        {
            <h2>@topOrg</h2>
        }
    </div>

    @if (Model.Stories != null)
    {
        foreach (var story in Model.Stories)
        {
            <div>
                <h1>@story.Titel</h1>
                <p>@story.StoryString</p>
            </div>
        }
    }
</div>
