@model IEnumerable<Integratie.Domain.Entities.Alerts.UserAlert>
@{
    ViewBag.Title = "Alerts";
}

<h2>Personen</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Web)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
        </tr>
    }
</table>
