@model IEnumerable<Integratie.Domain.Entities.Alerts.UserAlert>

<table class="ui celled table">
    <thead class="full-width">
        <tr>
            <th>Compare-Alerts</th>
        </tr>
    </thead>
    <tr>
        <th>
            Settings
        </th>
        <th>
            Alert
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="ui large form">
                    <div class="four fields">
                        <div id="Web @item.ID" class="ui field toggle checkbox">
                            <label>Web</label>
                            @if (item.Web)
                            {
                                <input checked="checked" type="checkbox">
                            }
                            else
                            {
                                <input type="checkbox">
                            }
                        </div>
                        <br>
                        <div id="Mail @item.ID" class="ui field toggle checkbox">
                            <label>Mail</label>
                            @if (item.Mail)
                            {
                                <input checked="checked" type="checkbox">
                            }
                            else
                            {
                                <input type="checkbox">
                            }
                        </div>
                        <br>
                        <div id="App @item.ID" class="ui field toggle checkbox">
                            <label>App</label>
                            @if (item.App)
                            {
                                <input checked="checked" type="checkbox">
                            }
                            else
                            {
                                <input type="checkbox">
                            }
                        </div>
                        <div class="field">
                            <div id="submit @item.ID" class="ui submit button">Save</div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                @{
                    Html.RenderAction("_CompareAlert", "AlertPartial", new { id = item.Alert.AlertID });
                }
            </td>
        </tr>
    }
</table>

@foreach (var item in Model)
{
    <script>
        $("[id='Web @item.ID']").checkbox({

        });

        $("[id='Mail @item.ID']").checkbox({

        });

        $("[id='App @item.ID']").checkbox({

        });

        $("#submit @item.ID").on('click', function () {
            SendAlertUpdateSubmit(@item.ID);
        });
    </script>
}
