@model List<Integratie.Domain.Entities.Alerts.UserAlert>

<table class="ui celled table">
    <thead class="full-width">
        <tr>
            <th>Sentiment-Alerts</th>
        </tr>
    </thead>
    <tr>
        <th class="ten wide">
            Settings
        </th>
        <th class="five wide">
            Alert
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="@item.ID">
            <td>
                <div class="ui form">
                    <div class="four fields">
                        <div id="Web @item.ID" class="ui field toggle checkbox">
                            <label>Web</label>
                            @if (item.Web)
                            {
                                <input checked="checked" type="checkbox">
                            }
                            else
                            {
                                <input type="checkbox">
                            }
                        </div>
                        <br>
                        <div id="Mail @item.ID" class="ui field toggle checkbox">
                            <label>Mail</label>
                            @if (item.Mail)
                            {
                                <input checked="checked" type="checkbox">
                            }
                            else
                            {
                                <input type="checkbox">
                            }
                        </div>
                        <br>
                        <div id="App @item.ID" class="ui field toggle checkbox">
                            <label>App</label>
                            @if (item.App)
                            {
                                <input checked="checked" type="checkbox">
                            }
                            else
                            {
                                <input type="checkbox">
                            }
                        </div>
                        <div class="field">
                            <button id="submit @item.ID" class="ui primary button">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                @{
                    Html.RenderAction("_SentimentAlert", "AlertPartial", new { id = item.Alert.AlertID });
                }
            </td>
        </tr>
    }
</table>

@foreach (var item in Model)
{
    <script>
        $("[id='Web @item.ID']").checkbox({
            onChecked: function () {
                SendAlertUpdateSubmit(@item.ID);
            },
            onUnchecked: function () {
                SendAlertUpdateSubmit(@item.ID);
            }
        });

        $("[id='Mail @item.ID']").checkbox({
            onChecked: function () {
                SendAlertUpdateSubmit(@item.ID);
            },
            onUnchecked: function () {
                SendAlertUpdateSubmit(@item.ID);
            }
        });

        $("[id='App @item.ID']").checkbox({
            onChecked: function () {
                SendAlertUpdateSubmit(@item.ID);
            },
            onUnchecked: function () {
                SendAlertUpdateSubmit(@item.ID);
            }
        });

        $("[id='submit @item.ID']").on('click', function () {
            SendAlertDeleteSubmit(@item.ID);
            $('#@item.ID').remove();
        });
    </script>
}