<style>
    .rofloGraph {
        background-color: @(ViewBag.SecondaryColor);
    }

    .TeslaSingleTrendValue{
    color:@(ViewBag.PrimaryColor);
    }
    .teslaTag{
    background-color:@(ViewBag.TertiaryColor);
    }
    .rofloInfo{
    color:@(ViewBag.TertiaryColor);
    }
</style>
    <div class="slideshow-foto">
        <p class=slideshow-tekst>@(Html.Raw(ViewBag.IndexContent))</p>
    </div>

    <div class="container rofloGraphContainer">
        <div class="row spacing">
            <div class="col-sm-4 rofloGraphOuter">
                <div class="rofloGraph">
                    <p class="TeslaSingleGraph" id="myChartA"></p>
                    <div class="rofloTagContainer">
                        <center>
                            <span class="teslaTag">Bart De Wever</span>
                            <span class="teslaTag">5 dagen</span>
                            <p class="rofloInfo">Er is de afgelopen 5 dagen @(ViewBag.graphA.SingleValue) keer over Bart De Wever getweet, dat is een daling van 30%.</p>

                        </center>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 rofloGraphOuter">
                <div class="rofloGraph">
                    <p class="TeslaSingleGraph" id="myChartB"></p>
                    <div class="rofloTagContainer">
                        <center>
                            <span class="teslaTag">Maggie De Block</span>
                            <span class="teslaTag">5 dagen</span>
                            <p class="rofloInfo">Er is de afgelopen 5 dagen @(ViewBag.graphB.SingleValue) keer over Maggie De Block getweet, dat is een daling van 30%.</p>

                        </center>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 rofloGraphOuter">
                <div class="rofloGraph">
                    <p class="TeslaSingleGraph" id="myChartC"></p>
                    <div class="rofloTagContainer">
                        <center>
                            <span class="teslaTag">Theo Francken</span>
                            <span class="teslaTag">5 dagen</span>
                            <p class="rofloInfo">Er is de afgelopen 5 dagen @(ViewBag.graphC.SingleValue) keer over Theo Francken getweet, dat is een daling van 30%.</p>

                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="mantel-dashboard">
    <div class="foto-dashboard"></div>
    <div class="tekst-dashboard">
        <div class="align-dashboard">
            <h1 class="titel-dashboard">Kies zelf wat u in het oog houdt!</h1>
            <p class="uitleg-dashboard">Met uw persoonlijk dashboard kan u zelf bepalen welke trends, activiteiten en ontwikkelingen u volgt. Dit kan u aan de hand van bar- en linecharts of gewoon eenvoudige cijfers. Mis geen enkele moment en stel uw eigen dashboard samen!</p>
            <a class="knop-dashboard"href="@Url.Action("Index","Home")">Uw Persoonlijk Dashboard</a>
        </div>
    </div>
</div>
<div class="mantel-subjects">
    <div class="subject-thema">
        <div class="content">
            <h1 class="titel-subjects">THEMA'S</h1>
            <p class="uitleg-subjects">"23 tweets over het BAM-Tracé"</p>
            <a class="knop-dashboard" href="@Url.Action("Index","Theme")">Bekijk meer thema's</a>
</div>
    </div>
    <div class="subject-partijen">
        <div class="content">
            <h1 class="titel-subjects">PARTIJEN</h1>
            <p class="uitleg-subjects">"15 tweets over GROEN"</p>
            <a class="knop-dashboard" href="@Url.Action("Organisaties","Subject")">Bekijk meer partijen</a>
</div>
    </div>
    <div class="subject-politici">
        <div class="content">
            <h1 class="titel-subjects">POLITICI</h1>
            <p class="uitleg-subjects">"56 Tweets over Theo Francken"</p>
            <a class="knop-dashboard" href="@Url.Action("Personen","Subject")">Bekijk meer politici</a>
        </div>
    </div>
</div>
<div class="mantel-app">
    <div class="app">
        <div class="align-app">
            <h1 class="titel-app">Blijf steeds op de hoogte via de app!</h1>
            <p class="uitleg-app">Raadpleeg de politieke barometer vanaf nu ook op een handige mobiele app. Log in met je bestaand profiel en bekijk je persoonlijk dashboard waar en wanneer je maar wil. Blijf steeds op de hoogte van de laatste updates door meldingen in te schakelen!</p>
            <button class="knop-app">Download App</button>
        </div>
    </div>
    <div class="foto-app">
    </div>
</div>
<div class="mantel-alerts-newsletter">
    <div class="alerts">
        <div class="align-alerts">
            <h1 class="titel-alerts">Krijg meldingen!</h1>
            <p class="uitleg-alerts">Kies zelf wanneer u meldingen krijgt over uw favoriete politci, thema of partij. Zo blijft u steeds op de hoogte van de laatste ontwikkelingen en trends.</p>
            <button class="knop-alerts">Get Alerts</button>
        </div>
    </div>
    <div class="newsletter">
        <div class="align-newsletter">
            <h1 class="titel-newsletter">Blijf op de hoogte</h1>
            <p class="uitleg-newsletter">Dolor sit amet, consectetur adipiscing elit. Morbi mi lectus, consectetur iaculis convallis in. </p><br>
            <form action="/action_page.php" class="invulstrook">
                Voornaam + Naam:<br>
                <input type="text" class="form-control" name="firstname" value=""><br><br> E-mailadres:
                <br>
                <input type="text" class="form-control" name="firstname" value="">
            </form>
            <br>
            <button class="knop-newsletter">Subscribe</button>
        </div>
    </div>
</div>
<footer>
    <div class="footer">
        <p class="credits">
            Politieke Barometer 2018
            <a href="https://www.facebook.com/kareldegrotehogeschool/" target="_blank" class="fa fa-facebook"></a>
            <a href="https://twitter.com/kdghogeschool" target="_blank" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/kdghogeschool/" target="_blank" class="fa fa-instagram"></a>
        </p>
    </div>
</footer>
<script>
     $(document).ready(function () {
                    var color =
                        @if (ViewBag.graphA.TrendArrowValue > 0) { <text> "#39ac00" </text>}
                        @if (ViewBag.graphA.TrendArrowValue < 0) { <text> "#ff3838" </text>}
                        @if (ViewBag.graphA.TrendArrowValue == 0) { <text> '#000000'</text>};
                    var rotation =
                        @if (ViewBag.graphA.TrendArrowValue > 0) { <text> -90 </text>}
                        @if (ViewBag.graphA.TrendArrowValue < 0) { <text> 90 </text>}
                        @if (ViewBag.graphA.TrendArrowValue == 0) { <text> 0 </text>};
                        var bg =
                        @if (ViewBag.graphA.TrendArrowValue > 0) { <text> '#00ff8717' </text>}
                        @if (ViewBag.graphA.TrendArrowValue < 0) { <text> "#ff150017" </text>}
                        @if (ViewBag.graphA.TrendArrowValue == 0) { <text> '#00000017' </text>};

                        $('#myChartA').append(
                            '<center><table style="text-align:center"><tr><td>'
                            + '<p class="TeslaSingleTrendValue">@(ViewBag.graphA.SingleValue)</p></td></tr><tr><td class="TeslaTrendArrowContainer" style="heigt:auto; background-color:' + bg +'!important">'
                            + '<span class="TeslaTrendArrow" style="color:' + color + '!important;">@(Math.Round(ViewBag.graphA.TrendValue*100,0))%</span>'
                            + '<i class="fa fa-fw fa-arrow-right TeslaTrendArrow" style="color:' + color + '!important; transform:rotate(' + rotation + 'deg);"></i></td></tr></center>');
                });
</script>
<script>
     $(document).ready(function () {
                    var color =
                        @if (ViewBag.graphB.TrendArrowValue > 0) { <text> "#39ac00" </text>}
                        @if (ViewBag.graphB.TrendArrowValue < 0) { <text> "#ff3838" </text>}
                        @if (ViewBag.graphB.TrendArrowValue == 0) { <text> '#000000'</text>};
                    var rotation =
                        @if (ViewBag.graphB.TrendArrowValue > 0) { <text> -90 </text>}
                        @if (ViewBag.graphB.TrendArrowValue < 0) { <text> 90 </text>}
                        @if (ViewBag.graphB.TrendArrowValue == 0) { <text> 0 </text>};
                        var bg =
                        @if (ViewBag.graphB.TrendArrowValue > 0) { <text> '#00ff8717' </text>}
                        @if (ViewBag.graphB.TrendArrowValue < 0) { <text> "#ff150017" </text>}
                        @if (ViewBag.graphB.TrendArrowValue == 0) { <text> '#00000017' </text>};

                        $('#myChartB').append(
                            '<center><table style="text-align:center"><tr><td>'
                            + '<p class="TeslaSingleTrendValue">@(ViewBag.graphB.SingleValue)</p></td></tr><tr><td class="TeslaTrendArrowContainer" style="heigt:auto; background-color:' + bg +'!important">'
                            + '<span class="TeslaTrendArrow" style="color:' + color + '!important;">@(Math.Round(ViewBag.graphB.TrendValue*100,0))%</span>'
                            + '<i class="fa fa-fw fa-arrow-right TeslaTrendArrow" style="color:' + color + '!important; transform:rotate(' + rotation + 'deg);"></i></td></tr></center>');
                });
</script>
<script>
     $(document).ready(function () {
                    var color =
                        @if (ViewBag.graphC.TrendArrowValue > 0) { <text> "#39ac00" </text>}
                        @if (ViewBag.graphC.TrendArrowValue < 0) { <text> "#ff3838" </text>}
                        @if (ViewBag.graphC.TrendArrowValue == 0) { <text> '#000000'</text>};
                    var rotation =
                        @if (ViewBag.graphC.TrendArrowValue > 0) { <text> -90 </text>}
                        @if (ViewBag.graphC.TrendArrowValue < 0) { <text> 90 </text>}
                        @if (ViewBag.graphC.TrendArrowValue == 0) { <text> 0 </text>};
                        var bg =
                        @if (ViewBag.graphC.TrendArrowValue > 0) { <text> '#00ff8717' </text>}
                        @if (ViewBag.graphC.TrendArrowValue < 0) { <text> "#ff150017" </text>}
                        @if (ViewBag.graphC.TrendArrowValue == 0) { <text> '#00000017' </text>};

                        $('#myChartC').append(
                            '<center><table style="text-align:center"><tr><td>'
                            + '<p class="TeslaSingleTrendValue">@(ViewBag.graphC.SingleValue)</p></td></tr><tr><td class="TeslaTrendArrowContainer" style="heigt:auto; background-color:' + bg +'!important">'
                            + '<span class="TeslaTrendArrow" style="color:' + color + '!important;">@(Math.Round(ViewBag.graphC.TrendValue*100,0))%</span>'
                            + '<i class="fa fa-fw fa-arrow-right TeslaTrendArrow" style="color:' + color + '!important; transform:rotate(' + rotation + 'deg);"></i></td></tr></center>');
                });
</script>