@model Integratie.MVC.Models.PersonAndFeeds
@{
    ViewBag.Title = "Persoon";
}
<div style="color: black">
    <h2>@Html.DisplayFor(model => model.person.Full_Name)</h2>
    <h4>Contact:</h4>
    <dt>
        Website:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.person.Site)
    </dd>
    <dt>
        Facebook:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.person.Facebook)
    </dd>
    <dt>
        Twitter:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.person.Twitter)
    </dd>
    <dt>
        Organisatie:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.person.Organisation)
    </dd>
    <h3>Tweets:</h3>
    @foreach (var feeds in Model.feeds)
    {
        <table border="0">
            <tr>
                <td><h5> Datum:</h5></td>
                <td><h5>@feeds.Date</h5></td>
            </tr>
            <tr>
                <td><b>Woorden:</b></td>
                <td>@feeds.Words</td>
            </tr>
            <tr>
                <td><b>Meer info:</b></td>
                <td>@feeds.Urls</td>
            </tr>
            <tr>
                <td><b>Hashtags:</b></td>
                <td>@feeds.Hashtags</td>
            </tr>
        </table>
        <br />
    }
</div>