@model IEnumerable<Integratie.Domain.Entities.Subjects.Person>
@{
    ViewBag.Title = "Personen";
}
<div style="color: black">
    <h2>Personen</h2>
    <p>
        @Html.ActionLink("Voeg toe", "CreatePersoon")
    </p>
    <div class="col-md-12">
        @using (Html.BeginForm("CSVOpladen", "Subject", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <label for="attachment">Select a Csv File</label>
                <label class="btn btn-default btn-file">
                    <input type="file" name="attachmentcsv" id="attachmentcsv">
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        }
    </div>
    <table class="table">
        <tr>
            <th>
                Naam
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Twitter)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="elementen">
                <td id="naam">
                    @Html.DisplayFor(modelItem => item.Full_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organisation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Site)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Twitter) <br />
                    @Html.ActionLink("Detail", "Persoon", new { id = item.ID, Full_Name = item.Full_Name })<br />
                    @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                    @Html.ActionLink("Edit", "EditPersoon", new { id = item.ID })
                    @Html.ActionLink("Delete", "DeletePerson", new { id= item.ID })
                    }
                        }
                </td>
            </tr>
        }
    </table>
</div>
