@model Integratie.Domain.Entities.Subjects.Person
@{
    ViewBag.Title = "Persoon";
}
<h2>@Html.DisplayFor(model => model.Full_Name)</h2>
<h4>Contact:</h4>
<dt>
    Website:
</dt>
<dd>
    @Html.DisplayFor(model => model.Site)
</dd>
<dt>
    Facebook:
</dt>
<dd>
    @Html.DisplayFor(model => model.Facebook)
</dd>
<dt>
    Twitter:
</dt>
<dd>
    @Html.DisplayFor(model => model.Twitter)
</dd>
<dt>
    Organisatie:
</dt>
<dd>
    @Html.DisplayFor(model => model.Organisation)
</dd>
@Html.DisplayFor(model => model.Feeds);