@model Integratie.MVC.Models.PersonAndFeeds

@using Integratie.Domain.Entities.Graph;

@{
    ViewBag.Title = "Persoon";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif
    }
</style>

@if (ViewBag.Alert != null)
{
    if (ViewBag.Alert.Graph.GraphType == GraphType.Barchart)
    {
        Html.RenderAction("_BarChart", "GraphPartial", new { alert = ViewBag.Alert });
    }
    else
    {
        Html.RenderAction("_LineChart", "GraphPartial", new { alert = ViewBag.Alert });
    }
}

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="https://twitter.com/@Url.Content(Model.person.Twitter)/profile_image?size=original" alt="profile_photo" width="100%">
                </div>
                <div class="w3-container">
                    <h2>@Html.DisplayFor(model => model.person.Full_Name)</h2>
                    <p style="color: black;"><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>@Html.DisplayFor(model => model.person.Organisation)</p>
                    @if (Model.person.Position != null)
    {
                <p style="color: black;"><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>@Html.DisplayFor(model => model.person.Position)</p>}
                    @if (Model.person.Site != null)
    {
                <p style="color: black;"><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>@Html.DisplayFor(model => model.person.Site)</p>}
                    @if (Model.person.Facebook != null)
    {
                <p style="color: black;"><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>@Html.DisplayFor(model => model.person.Facebook)</p>}
                <p style="color: black;"><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>@Html.DisplayFor(model => model.person.Twitter)</p>
                <hr>
                @if (Request.IsAuthenticated)
{
                <div id="follow" class="ui field toggle checkbox">
                    @if (ViewBag.Follow)
    {
                <label>Followed</label>
                <input checked="checked" type="checkbox">
}
else
{
                <label>Follow</label>
                <input type="checkbox">
}
                </div>
}
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Tweets</h2>
                @foreach (var feeds in Model.feeds)
                {
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>@feeds.Hashtags</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@feeds.Date</h6>
                        <p style="color: black;">@feeds.Words</p>
                        <p style="color: black;">@feeds.Urls</p>
                        <hr>
                    </div>
                }
            </div>



            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>


@if (Request.IsAuthenticated)
{
    <script>
    function SendFollowUpdateSubmit(int) {
        var s = {
            id: int
        };

        s = (JSON.stringify(s));

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateFollow", "Subject")',
            data: s,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                //alert("Succes")
            },
            error: function (ex) {
                //alert(ex.statusText);
            }
        });
    }

    $('#follow').checkbox({
        onChecked: function () {
            $('#follow label').html("Followed");
            SendFollowUpdateSubmit(@Model.person.ID);
        },
        onUnchecked: function () {
            $('#follow label').html("Follow");
            SendFollowUpdateSubmit(@Model.person.ID);
        }
    });
    </script>
}