@model IEnumerable<Integratie.Domain.Entities.Subjects.Person>
@{
    ViewBag.Title = "Personen";
}

<h2>Personen</h2>
<table class="table">
    <tr>
        <th>
            Naam
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organisation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Twitter)
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Full_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organisation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Twitter) |
            @Html.ActionLink("Detail", "Persoon", new { naam=item.Full_Name })
        </td>
    </tr>
    }
</table>
